<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .container {
        text-align: center;
        padding: 20px;
      }
      .otp {
        font-size: 19px;
        font-weight: bold;
        color: #ff7f32;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Hello,</h2>
      <p>Your OTP code is: <span class="otp"><%= otp %></span></p>
      <p>This OTP is valid for 3 hours.</p>
      <p>
        Thanks, <br />
        Trendify Team
      </p>
    </div>
  </body>
</html>
