@tailwind base;
@tailwind components;
@tailwind utilities;

/* chrome  */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  overflow: visible !important;
  background: rgb(202, 202, 245) !important;
}
/* Standard */
.no-spinner {
  appearance: textfield;
}

.landingPage {
  background-image: '../../public/landing-page.jpg';
}
.removeOnFocus:focus {
  outline: none;
}

.custom-swal-style {
  /* color: white !important; */
  width: 400px !important;
  top: 100px !important;
  left: 50% !important;
  transform: translate(-50%, 0);
  /* color: rgb(75, 72, 72) !important; */
}
