@tailwind base;
@tailwind components;
@tailwind utilities;

/* chrome  */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  overflow: visible !important;
  /* overflow-y: hidden !important; */
  padding: 0 !important;
  background: rgb(202, 202, 245) !important;
}
/* Standard */
.no-spinner {
  appearance: textfield;
}

.landingPage {
  background-image: '../../public/landing-page.jpg';
}
.removeOnFocus:focus {
  outline: none;
}

.custom-swal-style {
  /* color: white !important; */
  width: 400px !important;
  top: 100px !important;
  left: 50% !important;
  transform: translate(-50%, 0);
  /* color: rgb(75, 72, 72) !important; */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b !important; /* slate-800 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #64748b !important;
  border-radius: 2px !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6f819c !important;
}
